*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(230, 230, 230);
}

main {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.grid {
    width: 650px;
    height: 650px;
    border: solid rgb(104, 104, 104) 5px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.sqr {
    outline: 1px solid rgb(230, 230, 230);
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.colorContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
    font-weight: bold;
}

#colorPicker {
    appearance: none;
    border: none;
    outline: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease;
}

#colorPicker::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 50%;
}

#colorPicker::-webkit-color-swatch {
    border-radius: 50%;
}

#colorPicker:hover,
#rainbowButton:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.sliderContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
    font-weight: bold;
}

#sizeSlide {
    width: 180px;
}

#rainbowButton {
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    transition: transform 0.4s ease;
}

#rainbowButton.active {
    background-color: cyan;
}